{% extends 'index.html' %}
{% load poll_extras %}
{% block content %}
    <h1>Filters and tags!</h1>
    {% if var == 'a' %}
        <p class="alert alert-warning">var = 'a'</p>
    {% elif var  == 'b' %}
        <p class="alert alert-primary">var = 'b'</p>
    {% else %}
        <p class="alert alert-danger">{{ var }}</p>
    {% endif %}

    {% if number > 100 %}
        <p>number > 100 - {{ number }}</p>
    {% endif %}
    <p>Upper - {{ some_text|upper }}</p>
    <p>Lower - {{ some_text|lower }}</p>
    <ul>
        {% if first_list %}
            {% for elem in first_list %}
                <li>{{ elem }}</li>
            {% endfor %}
        {% else %}
            <p class="alert alert-danger">Empty list!</p>
        {% endif %}

        {% for elem in first_list %}
            <p>{{ elem }}</p>
        {% empty %}
            <p class="alert alert-info">Empty list!</p>
        {% endfor %}

    </ul>
    <hr>
    <ol>
        {% if second_list %}
            {% for book in second_list %}
                {% if book.is_sale %}
                    <span>АКЦИЯ!</span>
                {% endif %}
                <li>{{ book }}</li>
            {% endfor %}
        {% endif %}
    </ol>

    {% if x < 2 and x > 5 %}
        <p>2 < x < 5</p>
    {% endif %}
    {% if first_list or  second_list %}
        <p class="alert alert-danger">один списка не пусты</p>
    {% endif %}

    <h3>in</h3>
    {% if "bc" in "abcdef" %}
        if "bc" in "abcdef"
    {% endif %}
    <h3> regroup </h3>
    {% regroup people by gender as gender_list %}
    {{ gender_list }}
    <ul>
        {% for gender in gender_list %}
            <li>{{ gender.grouper }}
                <ul>
                    {% for item in gender.list %}
                        <li>{{ item.first_name }} {{ item.last_name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h3>date</h3>

    <p>M-d y {{ date|date:"M d y" }}</p>
    <p>M-d y m {{ date|date:"M-d y m" }}</p>
    <hr>
    <p>M-d y h {{ date|date:"M-d y h" }}</p>
    <p>M-d y h i {{ date|date:"M-d y h i" }}</p>
    <p>M-d y h i s {{ date|date:"M-d y h i s" }}</p>
    <hr>
    <p> hour- {{ date.hour }}</p>
    <p> minute- {{ date.minute }}</p>
    <p> second - {{ date.second }}</p>
    <p> microsecond- {{ date.microsecond }}</p>
    {{ date }}
    <h3>Custom</h3>

    <p>{{ 'lorem bla bla bla'|capitalize_custom }}</p>
    <p>{{ first_list|sort }}</p>
    <p>get_key:'odd' {{ first_list|sort|get_value:'odd' }}</p>
    <p>get_key:'even' {{ first_list|sort|get_value:'even' }}</p>

    {% get_categories as x %}

    {% for category in x %}
        <a href="#">{{ category.title }}</a>
    {% endfor %}
{#    {{ x }}#}
{% endblock %}