{% extends 'index.html' %}

{% block content %}

    <h1>HTML example!</h1>
    <h2>HTML example!</h2>
    <h3>HTML example!</h3>
    <h4>HTML example!</h4>
    <h5>HTML example!</h5>
    <h6>HTML example!</h6>
    <a href="https://gitlab.com/antonmazun/wa_09_07/-/branches" target="_blank" rel="nofollow">git lab wa</a>
    <form action="" method="get">
        <input type="hidden" name="hidden_value" value="calc">
        <input name="first_number" type="text" value="{{ first }}">
    {% for oper in operations %}
        <label style="font-size: 32px" for="oper_{{ forloop.counter }}">{{ oper }}</label>
        <input type="radio" {% if oper == '+' %}
        checked {% endif %} id="oper_{{ forloop.counter }}" name="oper" value="{{ oper }}">
    {% endfor %}
{#        <select name="oper" id="">#}
{#            {% for oper in operations %}#}
{#                <option value="{{ oper }}">{{ oper }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
        <input name="second_number" type="number" value="{{ second }}">
        <input type="checkbox" checked>
        {#        <input type="password">#}
        {#        <input type="checkbox">#}
        {#        <input type="radio" value="test" name="checkbox_list">#}
        {#        <label for="car">Car</label>#}
        {#        <input type="radio" name="checkbox_list" id="car">#}
        {#        Metro<input type="radio" name="checkbox_list">#}
        {#        Bike<input type="radio" name="checkbox_list">#}
        <button>Submit!</button>
        {% if result %}
            <p class="alert alert-success">{{ result }}</p>
        {% endif %}
        {% if error %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endif %}
    </form>


    <form action="">
        <div>
            <label for="">First number</label>
            <input type="number">
        </div>
        <div>
            <label for="second">Second number</label>
            <input type="number" id="second">
        </div>
    </form>
{% endblock %}