{% extends 'index.html' %}


{% block content %}

    <p class="alert alert-success">{{ book.title }}</p>
    {% if  book.img %}
        <img src="{{ book.img.url }}" alt="">
    {% endif %}
    <p>{{ book.desc }}</p>
    <p>price- {{ book.price }}</p>
    <p>Прикрепленный файл - <a href="{{ book.file.url }}" target="_blank">Открыть</a></p>

{% endblock %}