{% extends 'index.html' %}
{% load poll_extras %}


{% block content %}
    <style>
        .sale {
            position: relative;

        }

        .sale:after {
            content: 'Sale!';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            background: red;
            padding: 12px;
            color: white;
        }
    </style>
    <h3>Кол-во книг - {{ all_books|length }}</h3>
    <table class="table">
        <tbody>
        {% for book in all_books %}
            <div class="row {% if book.is_sale %} sale {% endif %}">
                <div class="col-md-2" scope="row">{{ forloop.counter }}</div>
                <div class="col-md-2">{{ book.title }}</div>
                <div class="col-md-2">{{ book.category.title }}</div>
                {% if book.is_sale %}
                    <div style="text-decoration: line-through" class="col-md-2">{{ book.price }} uan</div>
                    <div style="background: green;">{{ book.price|new_price:book.percent }}</div>
                {% else %}
                    <div class="col-md-2">{{ book.price }} uan</div>

                {% endif %}
                <div class="col-md-2">
                    <a class="btn {% if book.is_sale %} btn-primary {% endif %}"
                       href="/show-book/{{ book.id }}">Show</a>
                </div>
            </div>
            <br>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block after_content %}
    <div style="color: red; font-size: 72px">after_content home page!</div>
{% endblock %}